body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
h1{
    font-family: cursive;
    color: rgb(243, 145, 60);
    background-color: rgba(136, 189, 235, 0.751);
    padding-left: 650px;
}
input {
    padding: 10px;
    margin-right: 5px;
}
button {
    padding: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 4px;
}
